body {
  background: #060642;
  padding: 0 5px;
  width: 80%;
  margin: 0 auto;
  color: #222;
  font-size: 16px;
  line-height: 2em;
  font-family: Helmet, Freesans, sans-serif; }

#wrapper {
  margin: 0 5px;
  background: white; }

.space-after {
  margin-bottom: 3.2%; }

header {
  background: #DEB12A;
  color: #222; }

header img {
  margin-bottom: 5px;
  margin-right: 10px;
  display: none; }

header p {
  text-indent: 2em; }

h1, h2, h3, h4, h5 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 1.2rem 0; }

/*h1:first-of-type,h2:first-of-type,h3:first-of-type,
h4:first-of-type,h5:first-of-type {
	margin-top: 0;
}*/
h1 {
  color: #DE492A;
  font-size: 3.4rem;
  display: inline;
  vertical-align: bottom; }

h2 {
  margin-top: -10px;
  font-size: 2.5rem; }

h3 {
  font-size: 1.5rem; }

p {
  margin-bottom: 5px; }

#menuToggle {
  display: block;
  background: #DE492A;
  color: #fff;
  padding: 5px; }

#menuToggle:active {
  background: white;
  color: #fff; }

nav {
  color: #222;
  display: none; }

nav ul {
  list-style-type: none;
  padding-right: 20px; }

nav li {
  background: #DEB12A;
  border-bottom: solid 2px #fff; }

nav li:last-of-type {
  border-bottom: none; }

nav a, nav a:visited {
  color: inherit;
  display: block;
  text-decoration: none;
  padding: 10px; }

nav a:visited {
  color: inherit; }

nav a:hover {
  /*color: #000;*/
  background: #cfa320; }

nav a.active, nav a:active {
  background: #DE492A;
  color: #fff; }

ol {
  margin-left: 5%; }

article {
  border-radius: 15px;
  padding: 0 5px; }

footer {
  text-align: center;
  margin-top: 1.7rem;
  font-size: 0.8rem; }

pre {
  padding: 5px;
  margin-bottom: 5px;
  white-space: pre-wrap;
  background: white;
  -moz-tab-size: 2;
  -webkit-tab-size: 2;
  -ms-tab-size: 2;
  tab-size: 2; }

pre .comment {
  color: #888; }

/*code {
	-moz-tab-size: 2;
	-webkit-tab-size: 2;
	-ms-tab-size: 2;
	tab-size: 2;
	white-space: pre-wrap;
}*/
#simulator input {
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  padding: 8px;
  width: 100%; }

#runButton {
  width: 80px;
  height: 30px; }

#output {
  font-family: 'Courier New', monospace;
  font-size: .75em;
  font-weight: bold;
  background: white;
  padding: 10px;
  overflow: auto; }

#output .level-0 {
  color: #000; }

#output .level-1 {
  color: #00a; }

#output .level-2 {
  color: #0a0; }

#output .level-3 {
  color: #a00; }

#output .level-4 {
  color: #0aa; }

#output .level-5 {
  color: #aa0; }

#output .level-6 {
  color: #a0a; }

#output .level-7 {
  color: #44f; }

#output .level-8 {
  color: #4f4; }

#output .level-9 {
  color: #f44; }

#output .level-10 {
  color: #4ff; }

@media screen and (min-width: 800px) {
  #menuToggle {
    display: none; }
  #menu {
    display: block; }
  nav {
    border-right: 1px solid #b8911d; } }

@media screen and (min-width: 897px) {
  h1 {
    color: inherit; }
  header img {
    display: inline-block;
    min-width: 100px;
    width: 120px;
    height: 120px; } }

@media screen and (min-width: 1110px) {
  h1 {
    font-size: 4.4rem; } }
