// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=708120kpXrSa1M9a1M9HQbTHQbT */

// Feel free to copy&paste color codes to your application */


// As hex codes */
$white: #fffefd;
$black: #222;

@function grey($percent) {
  @return darken(#fff, $percent);
}

$primary: #DE492A;	// Main Primary color */
$primary-lightest: #FFAA99;
$primary-light: #F6785D;
$primary-dark: #AC290E;
$primary-darkest: #751400;

$secondary: #1F6D8B;	// Main Secondary color (1) */
$secondary-light: #78AFC4;
$color-secondary-1-2: #3E819B;
$secondary-dark: #0D516C;
$secondary-darkest: #02364A;

$ternary: #83CB26;	// Main Secondary color (2) */
$ternary-lightest: #C7F190;
$ternary-light: #A4E155;
$ternary-dark: #5E9D0C;
$ternary-darkest: #3D6B00;

// bind colors to names
$bg-base: $white;
$bg-code:  lighten($black, 75%);
$txt-base: $black;
