$font_header: 'PT Serif',  serif;
$font_text: 'Lato', sans-serif;
$font_code: 'PT Mono', monospace;
$font-base-size: 1em;

/* http://www.modularscale.com/ */
$ms-base: 1em;
$ms-ratio: 1.25, 1.618;
@mixin code {
    white-space: pre-wrap;
    word-wrap: break-word;
    font: {
        family: $font_code;
        size: ms(0);
    }
}
