@import 'main';

header {
    @include row();
	background: $secondary-darkest;
	color: $white;
    padding: 10px ;
    margin-bottom: 12.5px;
    line-height: normal;
    margin-bottom: 23.5px;
    #logo {
        @include col(2,12);
    }
    #logo + div {
        @include col(10,12);
    }

    h1 {
        color: $primary;
    	font-size: ms(6);
    	display: inline-block;
        margin-bottom: 3px;
        @include at('min_normal') {
            font-size: ms(9);
        }
        @include at('header_show_img') {
            color: $white;
            font-size: ms(10);
            margin-bottom: 24px;

        }
        @include at('header_show_full') {
            font-size: ms(12);
        }
    }

    img {
        display: none;
        @include at('header_show_img') {
            display: inline-block;
    		min-height: 125px;
    		width: auto;
    		// height: auto;
        }
    }

    p {
        font-size: ms(1);
        margin-bottom: 10px;
        // @include at('min_normal') {
        //     font-size: ms(9);
        // }
        @include at('header_show_img') {
            font-size: ms(3);

        }
    	// text-indent: 2em;
    }
}
