@import 'main';

header {
    @include row();
    width: 100%;
	background: $secondary-darkest;
	color: $white;
    padding: 10px;
    margin-bottom: 35px;
    line-height: normal;
    .wrapper {
        div:first-child {
            @include at('grid_min_width') {
                @include col(2,12);
                height: 100%;
            }
        }
        div:last-child {
            @include col(10,12);
        }
    }
    h1 {
        color: $primary;
        margin-top: 0;
    	font-size: ms(6);
    	display: inline-block;
        margin-bottom: 3px;
        @include at('min_normal') {
            font-size: ms(8);
        }
        @include at('header_show_img') {
            color: $white;
            font-size: ms(9);
            // margin-bottom: 24px;

        }
        @include at('header_show_full') {
            font-size: ms(11);
        }
    }

    #logo {
        display: none;
        @include at('header_show_img') {
            display: inline-block;
    		min-height: 125px;
    		width: auto;
    		// height: auto;
        }
    }

    p {
        font-size: ms(1);
        margin-bottom: 20px;
        // @include at('min_normal') {
        //     font-size: ms(9);
        // }
        @include at('header_show_img') {
            font-size: ms(1);

        }
    	// text-indent: 2em;
    }
}
