$breakpoints: (
    'min_normal': (min-width: 615px),
    'grid_min_width': (min-width: 960px),
    'header_show_img': (min-width: 1110px), /*897*/
    'header_show_full': (min-width: 1742px)
);

$gutter: 1.6%;

@mixin at($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Unknown breakpoint: '#{$name}'";
    }
}

@mixin col($col, $cols, $first: false, $last: false) {
    float: left;
    width: 100%;
    @include at('grid_min_width') {
        width: percentage(($col/$cols)) - $gutter;
        @if not $last {
            margin-right: 1.6%;
        }
    }
}

@mixin row() {
    &:after {
        content: "";
    	display: block;
    	clear  : both;
    	visibility: hidden;
    }
}
