@import 'colors';
@import 'fonts';
@import 'layout';

@import 'bower_components/modular-scale/stylesheets/modular-scale';
$wrapper-width: 80%;


@mixin transition-basic() {
    transition: all 0.2s ease;
}
@mixin btn($width: 15px, $height: 30px) {
    @include transition-basic();
    padding: 0 $width;
    background: $primary;
    color: $white;
    font-family: $font_text;
    font-size: ms(1);
    margin: 10px 0;
    border: 1px solid $primary-darkest;
    border-radius: 15px;
    &:hover {
        background: darken($primary, 9%);
    }
    &:active {
        background: darken($primary, 15%);
    }

}
