@import 'main';

nav {
    @include col(2, 6);
	display: none;
    margin-top: 2px;
    font-size: font-size(0.5);
    font-family: $font_header;
    ul {
    	list-style-type: none;
    	padding-right: 20px;
    }
    li {
    	background: $ternary;
    	border-bottom: solid 2px #fff;
        &:last-of-type {
        	border-bottom: none;
        }
    }
    a {
        color: $black;
    	display: block;
    	text-decoration: none;
    	padding: 12.5px;
        &:hover {
        	color: $white;
        	background: $primary;
        }
        .active, &:active {
            background: $primary;
        	color: $white;
        }
    }
}
