@import 'main';

#menuToggle {
    @include col(6,6);
	display: block;
	background: $primary;
	color: $white;
	padding: 5px;
    font-size: ms(1);
    font-family: $font_header;

    &:active {
    	background: $primary-dark;
    	color: $white;
    }

    @include at('grid_min_width') {
        display: none;
        font-size: ms(2);
    }
}

#sidebar nav {
    $nav_entry_bg: $ternary-dark;
    @include transition-basic();
    // @include col(3, 12);
	;
    // margin-top: 2px;
    font-size: ms(0);
    font-family: $font_header;

    ul {
    	list-style-type: none;
        padding-left: 0;
    }
    li {
        @include transition-basic();
    	background: $nav_entry_bg;
    	border-bottom: solid 2px $bg_base;

        &:hover, &.active {
            background: $primary;
            border-radius: 15px 0 15px 0;
        }

        &:last-child {
        	border-bottom: none;
        }

        &:active {
        	background: $primary-dark;
        	color: $white;
        }
    }
    a {
        @include transition-basic();
        color: $white;
    	display: block;
    	text-decoration: none;
    	padding: 7.5px 10px;
        @include at('min_normal') {
            padding: 7.5px 15px;
        };

        &.active {
            cursor: default;
        }
      &:visited {
        color: $white;
      }
    }
}
