@import 'main';

body {
	background: $bg_base;
	color: $txt_base;
	line-height: 30px;
	font-family: $font_text;
}

section {
	@include row;
}

#sidebar {
	@include col(3, 12);
    display: none;
	margin-bottom: 30px;
    @include at('grid_min_width') {
        display: block;
		margin-bottom: 0px;
    }

}

#content {
    @include col(9, 12, $last: true);
    height: 100%;
	@include at('grid_min_width') {
        border-left: 1px solid darken($ternary-dark, 10%);
		padding-left: 15px;
    }
}

.pseudo {
    @include row();
	margin-bottom: 15px;
}

div.code {
	&:not(:last-child){
		@include col(3, 6);
	}
	&:last-child {
		@include col(3, 6, $last: true);
	}
	&:only-child {
		@include col(6,6);
	}
	h4 {
		color: $secondary-dark;
	}
	pre {
		background: lighten($black, 75%);
		padding: 2.5px 12.5px 0 12.5px;
	}

}

code {
    @include code;
}

.wrapper {
    @include row();
    width: $wrapper-width;
	height: auto;
    margin: 0 auto;
}

#output-wrapper {
	@include col(12,12);
	display: none;
	overflow: auto;
}

#output {
	@include code;
	background: $bg-code;
	padding: 10px;
}
.input-group {
	label {
		display: inline-block;
		width: 100px;
	}
}
