<!DOCTYPE html>
<html lang="en" class="login">
<head>
    <link rel="stylesheet" href="styles/styles.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body class="login">
<div class="wrapper">
    <div class="login-msg login-{{msg_class}}"><p>{{msg}}</p></div>
    <form action="{{action}}" method="POST">
        <h1>{{title}}</h1>
        <label for="username">Login:</label>
        <input id="username" type="text" name="username">
        <label for="password">Hasło:</label>
        <input id="password" type="password" name="password">
        <input type="submit" value="Załóż konto">
    </form>
    <div id="buttons">
        <a id="back" href="blog">Powrót</a>
        <a id="register" href="login">Zaloguj się</a>
    </div>
</div>
</body>
</html>