#example div {
    width: 2em;
    height: 2em;
    display: inline-block;
    margin: 0.125em;
    text-align: center;
    line-height: 2em;
}

div.disabled {
    background: #eee;
}

div.prime {
    background: #da4a2a;
    color: #fff;
    font-weight: bold;
}
