RewriteEngine On
RewriteRule ^([\-a-z]+)$ index.php [NC,L]
RewriteRule ^([\-a-z]+)\/upvote$ Vote.php?action=upvote&page=$1
RewriteRule ^([\-a-z]+)\/downvote$ Vote.php?action=downvote&page=$1
RewriteRule ^([\-a-z]+)\/rating$ Vote.php?action=&page=$1
